
@media all and (max-width: 1024px) {
  main {flex-direction: column; flex-grow: 1;} 
  header, footer {flex-basis: 50px;}
  #banner h1{font-size: 2.5rem;}
  #banner input{font-size: 100%; width: 75%;}
  .faq-div{padding-top:15px; padding-right: 30px;}
  #selector-div button{text-align:center;}
  .faq-div p{font-size: 1.3rem;}
  .faq-div span{font-size: 1.6rem;}
  .faq-div li{font-size: 1.6rem;}
}
@media only screen and (min-width: 1025px){
  #banner h1{font-size: 4rem;}
  #banner input{font-size: 145%; width: 50%;}
  #selector-div button{text-align:left;}
  .faq-div p{font-size: 1.6rem;}
  .faq-div span{font-size: 1.8rem;}
  .faq-div li{font-size: 1.8rem;}
}
ol span{
  color:black;
}
ol span:hover{
  color:black;
}
/*header*/
#banner{
  margin-top: 51px;
  position: relative;    
  overflow: hidden;  
  text-align: center;    
  padding: 3%;
}
#banner h1{
  font-family: Helvetica;
  color: white;
  text-align: center;
  margin: 0%;
}
#banner::before{
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-image:url(https://downloadwallpaperhd.net/laptop-wallpapers/work-wallpaper-hd-For-Laptop-Wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
  filter: blur(3px);
}



/*nav-bar*/
#selector-div{
  border: none;
  font-size: 18px;
}
#selector-div button{
  padding: 6px;
  color: #2d3f51;
  border: solid #2d3f51;
  width: 100%;
}
#selector-div .active{
  color: white;
  background-color: #2d3f51;
  border-bottom: 0px;
}

/*main content*/
.faq-div{
  border: none;
  color: black;
  text-align: left;
}
.faq-div p{
  text-align: justify;
}
.faq-div span{  
  text-align: justify;
}
.faq-div .question{
  color: black;
  font-weight: bold;
}
.faq-div .answer{
  color: black;
}
.faq-div .hidden{
  display: none;
}
.faq-div .shown{
  display: block;
}
.faq-div ol{
  font-size: 0.9rem;
}


/* not active */
.nav-pills .nav-link:not(.active) {
  background-color: #2d3f51!important;
  color: white!important; 
}

/* active (faded) */
.nav-pills .nav-link {
  background-color: #2d3f51!important;
  color: white!important; 
}

.btn-unique{
  background: green!important;
  color: white!important;
}

