
.container{
    display:flex;
}
.profile-card-4 {
    min-width:300px;
    max-width: 300px;
    
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 1%;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
    max-height: 200px;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -100px;
    color: #FFF;
    font-size: 27px;
    text-align: center;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
    text-align: center;
}

.profile-card-4 .profile-overview a {
    font-size: 15px;
    font-weight: 600;
    color: #777;
    text-decoration: none;
    color:white;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    padding: 12px 16px;
    background:#2d3f51;
    border-radius:5px;
    box-shadow: rgba(0,0,0,0.8) 0 0 4px;
}

.button:hover {
    background:#49729b;
}


.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
            position:relative;
            top:10px;
            height: 30%;
            width:800px;
            min-width:300px;
            margin:none;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map{
        margin: 50px auto;
        width:50%;
      }
      
      .content{
        overflow:auto;
        width:80%;
        margin: 5% 10%;
        display:flex;
        flex-wrap: wrap;
        float: left;
        position:relative;
        max-height:800px;
        justify-content:space-around;
        scrollbar-width: none;
        top:20px;
    }
    #map{
        top:50px;
    }
    
    .dropdown{
        top:25px;
        text-align: center;
    }
    .dropdown-menu{
        max-height:150px;
        scrollbar-width: none;
        overflow:auto;
        text-align: center;
        background:rgba(255,255,255,0.7);
        min-width: 100%;
    }
    .dropdown-menu div {
        /* margin-right:600px; */
        min-width:100px;
        margin:0 40px;
    }
    .dropdown-menu div p{
        font-size:2rem;
        font-weight:bold;
        margin:10px;
    }
    
    .dropdown-menu div a{
        display:flex;
        color:white;
        text-decoration: none;
        cursor: pointer;
        background:#2d3f51;
        padding:12px 12px;
        border-radius:5px;
        box-shadow: rgba(0,0,0,0.8) 0 0 4px;
        margin:2px;
    }
    .carousel {
        overflow: hidden;
        position: relative;
        max-height: 500px;
    }
    .ambassador{
        position:absolute;
        top:200px;
        z-index:3;
        text-align: center;
        margin:0% 25%;;
    }
    .ambassador p{
        color:Black;
        font-size: 3rem;
        font-weight: bold;
        max-height:400px;
    }
    .ambassador a{
        color:white;
        text-decoration: none;
        cursor: pointer;
        background:#2d3f51;
        padding:12px 16px;
        border-radius:5px;
        box-shadow: rgba(0,0,0,0.8) 0 0 4px;
        margin:2px;
    }
    @media (max-width: 750px) {
        .ambassador {
            top:150px;
        }
        .ambassador p{
            font-size: 2.5rem;
        }
    }
    @media (max-width: 600px) {
        .ambassador {
            top:100px;
        }
        .ambassador p{
            font-size: 2rem;
        }
    }
    @media (max-width: 400px) {
        .ambassador {
            top:70px;
        }
        .ambassador p{
            font-size: 1.5rem;
        }
    }